.input {
    font-size: 24px;
    padding: 16px 16px 16px 30px;
    border: 1px solid transparent;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
    line-height: 1.4em;
    outline: none;
    color: inherit;
    width: 100%;
    background: #fff;
  }
  .valid-error {
    border: 1px solid firebrick;
  }
  .todo-input {
    position: relative;
    display: flex;
  }
  .error {
    position: absolute;
    top: -30px;
    left: 0;
    color: firebrick;
  }
  .checkall{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 67px;
      .arrow{
        width: 15px;
        height: 15px;
        border-bottom: 2px solid grey;
        border-right: 2px solid grey;
        transform: rotate(45deg);
        &.active{
          border-bottom: 2px solid black;
          border-right: 2px solid black;
        }
      }
  }