html, body{
    height: 100%;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-color: grey;
}

*{
    box-sizing: border-box;
}

.container {
    width: 600px;
    margin: 0 auto;
  }